@import url('https://fonts.googleapis.com/css?family=Cousine');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:700i,700');

:root {
  --color-primary: #5d39f3;
  --color-bg_darker: #141729;
  --color-bg_dark: #1d2033;
  --color-white: #ffffff;
  --color-link_dark: var(--color-primary);
  --color-link_light: #ffffff;
  --font-size: 1.6rem;
  --base-big: 62.5%;
}

html {
  box-sizing: border-box;
  font-size: 52.5%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: var(--color-white);
  background: var(--color-bg_darker);
  font-family: 'Cousine', monospace;
  font-size: var(--font-size);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  min-height: 0;
  height: auto;
  width: auto;
}

a {
  color: var(--color-link_dark);
  text-decoration: none;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-bottom: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 2rem 0;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  letter-spacing: -0.1rem;
  line-height: 1.25;
}

h3 {
  font-size: 3rem;
  letter-spacing: -0.08rem;
  line-height: 1.3;
}

h4 {
  font-size: 2.8rem;
  letter-spacing: -0.08rem;
  line-height: 1.35;
}

h5 {
  font-size: 2.4rem;
  letter-spacing: -0.05rem;
  line-height: 1.5;
}

h6 {
  font-size: 2rem;
  letter-spacing: 0;
  line-height: 1.4;
}

a:hover,
h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a,
h6:hover a {
  color: #fe8c00;
  background: -webkit-linear-gradient(left, #fe8c00, #f83600);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 40rem) {
  html {
    font-size: var(--base-big);
  }
}

/* Class Elements */
.card-wrapper {
  /* height: 100%; */
}

/* Utility */
.flex {
  display: flex;
}

.row-wrap {
  flex-flow: row wrap;
}
